* {
    font-family: 'Lato', sans-serif;
    color: #3D3D3D !important;
    margin: 0px;
    padding: 0px;
}

.clickable {
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
  }

.no-padding {
    margin: 0px !important;
    padding: 0px !important;
}

.lilita {
    font-family: 'Lilita One', cursive;
}

/* NavBar */

.navbar-logo {
    height: 70px;
    width: 70px;
}

.logo-text {
    font-size: 30px;
    font-weight: 'bold';
    margin-top: 10px;
}

.navpillholder {
    text-align: right;
}

.navtab {
    font-size: large;
    margin-left: 30px;
    font-weight: bold;
}

/* Header */
.header {
    padding-top: 75px !important;
    padding-bottom: 75px !important;
}

.header-right-section {
}

.header-big-text {
    font-size: 40px;
}

.header-descr-text {
    margin-top: 20px;
    font-size: 20px;
    color: #888;
} 

.image-header {
    width: 100% !important;
    height: auto !important;
}

.header-bottom-left-img {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 15%;

}

.header-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25%;
}

.header-button {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    margin-top: 10px;
    outline: none;
    border: none;
}

.header-button:hover {
    opacity: 0.8;
    outline: none;
    border: none;
}


/* how it works */
.how-it-works {
    background-color: #27AAE2;
    padding: 50px;
    padding-top: 80px;
}

.bold {
    font-weight: bold;
}

.how-divs {
    text-align: center;
    color: white !important;
}

/* available classes */
.white-section {
    padding: 50px;
    padding-top: 80px;
}

.all-classes-filter {
    font-size: large;
}

.available-classes {
    margin-top: 40px;
}

.all-classes-divider {
    font-size: medium;
}

.class-modal {
    border-radius: 5px;
    background-color: #FFF;
    margin-top: 30px;
    padding: 0px !important;
}

.class-modal-img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.signupbutton {
    padding: 5px;
    outline: none;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: smaller;
}

.available-classes-bottom-left {
    bottom: 0;
    left: 0;
    width: 10%;
    position: absolute;
}

.available-classes-bottom-right {
    top: 0;
    right: 0;
    position: absolute;
    width: 20%;
}

/* get involved */
.get-involved {
    background-color: #FC515C;
    padding: 50px;
    padding-top: 80px;
}

.get-involved-text {
    font-size: x-large;
    color: white !important;
}

.get-involved-text-inverse {
    font-size: x-large;
    color: #FC515C !important;
    background-color: white;
    text-align: center;
    padding: 5px
}

.get-involved-text-inverse:hover {
    font-size: x-large;
    color: #FC515C !important;
    background-color: white;
    text-align: center;
    padding: 5px;
    opacity: 0.8;
}

.get-involved-button {
    color: #FC515C !important;
    background-color: white;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    outline: none;
    border: none;
    font-size: x-large;
}

/* who we support */
.support-text {
    font-size: x-large;
    color: #333431 !important;
}

.support-bottom-left {
    bottom: 0;
    left: 0;
    width: 20%;
    position: absolute;
}

.support-top-right {
    top: 0;
    right: 0;
    width: 15%;
    position: absolute;
}

/* resources */
.resources {
    background-color: #4C58E0;
    padding: 50px;
    padding-top: 80px;
}

.resource-divs:hover {
    opacity: 0.8;
}

/* footer */
.footer {
    padding: 50px;
    padding-top: 80px;
    padding-bottom: 150px;
}

.footer-text {
    font-size: 20px;
}

.footer-tabs {
    color: #888 !important;
}

.footer-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%;
}

/* colors */
.red {
    color: #FC515C !important;
}

.blue {
    color: #4C58E0 !important;
}

.teal {
    color: #27AAE2 !important;
}

.white {
    color: #FFF !important;
}

.black {
    color: #3D3D3D !important;
}

.gray {
    color: #777;
}

.red-bg {
    background-color: #FC515C !important;
    border: none;
}

.blue-bg {
    background-color: #4C58E0 !important;
}

.teal-bg {
    background-color: #27AAE2 !important;
}

.white-bg {
    background-color: #FFF !important;
}

.black-bg {
    background-color: #3D3D3D !important;
}

