* {
    font-family: 'Lato', sans-serif;
    color: #333431;
    margin: 0px;
    padding: 0px;
}

.no-padding {
    margin: 0px !important;
    padding: 0px !important;
}

.lilita {
    font-family: 'Lilita One', cursive;
}

/* NavBar */

.navbar-logo {
    height: 70px;
    width: 70px;
}

.logo-text {
    font-size: 30px;
    font-weight: 'bold';
    margin-top: 10px;
}

.navpillholder {
    text-align: right;
}

.navtab {
    font-size: large;
    margin-left: 30px;
}

/* Header */
.header {
    height: 60%;
}

.header-right-section {
    padding: 80px;
    height: 600px;
}

.header-big-text {
    font-size: 40px;
}

.header-descr-text {
    margin-top: 20px;
    font-size: 20px;
    color: #888;
} 

.header-bottom-left-img {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 80%;

}

.header-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
}

/* how it works */
.how-it-works {
    background-color: #27AAE2;
    padding: 50px;
    padding-top: 80px;
}

/* available classes */
.white-section {
    background-color: #FFF;
    padding: 50px;
    padding-top: 80px;
}

/* get involved */
.get-involved {
    background-color: #FC515C;
    padding: 50px;
    padding-top: 80px;
}

/* who we support */

/* resources */
.resources {
    background-color: #4C58E0;
    padding: 50px;
    padding-top: 80px;
}

/* footer */
.footer {
    background-color: #FFF;
    padding: 50px;
    padding-top: 80px;
    padding-bottom: 150px;
}

.footer-text {
    font-size: 20px;
}

.footer-tabs {
    color: #888 !important;
}

/* colors */
.red {
    color: #FC515C !important;
}

.blue {
    color: #4C58E0 !important;
}

.teal {
    color: #27AAE2 !important;
}

.white {
    color: #FFF !important;
}

.black {
    color: #000 !important;
}

